name: Build & Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: jekyll/jekyll:4
    steps:
      - uses: actions/checkout@v4
      - run: |
          cd lgi
          jekyll build --source . --destination ../_site
      - uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    needs: build-and-deploy
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4